* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans" sans-serif;
  font-weight: 100;
}

.container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.header-top-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  margin-right: 226px;
}

.header-top-link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597a5;
}

.header-top-link:active {
  color: #2d314d;
}

.header-top-end {
  display: flex;
  align-items: center;
  padding: 18px;
}

.header-top-item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597a5;
}

.header-top-btn-title {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  width: 163px;
  height: 44px;
  padding: 8px 34.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

.header-top-btn-title:active {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 22px;
}

/************ main start *****************/

.section-hero {
  background: #f2f2f2;
}

.section-hero-wrappper {
  display: flex;
  position: relative;
}

.section-hero-start {
  width: 447px;
  padding-top: 170px;
  padding-bottom: 24px;
}

.section-hero-title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
  margin: 0;
}

.section-hero-subtitle {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597a5;
  padding-top: 24px;
  margin: 0;
  margin-bottom: 36px;
}
.section-her-btn-title {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  width: 163px;
  height: 44px;
  padding: 8px 34.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

.section-hero {
}
.phones {
  position: absolute;
  /* top: 494px; */
  right: calc(50% - 823.05px);
}
/************ main end *****************/
